:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hide {
    display: none;
}

li{
    padding-bottom: 3px;
    color: white;
    text-shadow: 1.5px 1px 3px black;
    list-style-type: none;
}

p{
    color: black;
    text-shadow: .5px .5px white;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;

}

h1{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: sans-serif;
    margin-top: 10px;
}
input{
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }

  button {
    /* display: inline-block; */
    font-family: sans-serif;
    background-color: #5e6df1;
    border-radius: 10px;
    border: 5px #a71a1a;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 25px;
    width: 200px;
    margin-top: 5px;
  }

  button:hover{
      box-shadow: 4px 3px 6px #3d3e42;
      justify-content: center;
  }

#startpage{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

#timer{
    font-family: sans-serif;
    background-color: #1ba148;
    color: #ffffff;
    font-size: x-large;
    text-shadow: .5px .5px black;
    text-align: center;
}

#result {
    display: none;
}

#gameover {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#highScore{
    height: 1.5rem;
    border: groove 2px;
}

#high-scorePage{
    display: none;
    width: 50%;
    border: solid;
    border-color: rgb(156, 2, 2);
    border-bottom-style: groove;
    padding-bottom: .3rem;
    background: rgb(21, 42, 70);
}

#highscore-header{
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color: #0a125a;
    color: #ffffff;
    font-family: sans-serif;
}
#highscoreContainer{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initials{
    margin: .5rem;
    height: 1.75rem;
}

#highscore-initials{
    display: inline-block;
    padding-left: 9.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

#highscore-score{
    float: right;
    padding-right: 8.75rem;
    font-family: sans-serif;
    font-weight: bold;
}

#finalScore{
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

#endGameBtns{
    display: none;
}